<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Relax-Online</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body onload="startWS()">
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left icon-left" onclick="exitroom()"></a>
        <h1 class="title">001号房间</h1>
        <a class="icon icon-me pull-right icon-check " id="ready" onclick="getReady()"></a>
    </header>
    <div class="content">
        <div>
            <!-- 游戏区 -->
            <canvas id="wuzi" width="400" height="500" onmousedown="listener(event)"></canvas>
        </div>
        <div class="content-block">
            <!-- 聊天区 -->
            <div class="row" id="playerinfo">

            </div>
            <div class="row">
                <!-- 聊天纪录 -->
                <div class="list-block">
                    <ul id="chatlog">

                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- 消息放松 -->
                <div class="col-80"><input type="text" class="input-lg" id="inputmsg" placeholder="输入聊天内容"></div>
                <div class="col-30"><a class="button button-small button-fill button-success" onclick="sendmsg()">提交</a>
                </div>
            </div>
        </div>

    </div>


</div>
<script type='text/javascript' src='../static/config.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    var ws;
    var cuser = '0';
    var chatlog_array = new Array();
    var isReady = false;
    var isGameing = false;
    var c = document.getElementById("wuzi");

    var cxt = c.getContext("2d");
    cxt.fillStyle = "black";

    //绘制棋盘
    for (var x = 20; x < 490; x = x + 40) {
        cxt.moveTo(20, x)
        cxt.lineTo(380, x)
        cxt.stroke();
    }

    for (var y = 20; y < 390; y = y + 40) {
        cxt.moveTo(y, 20)
        cxt.lineTo(y, 460)
        cxt.stroke();
    }

    function listener(n) {
        //鼠标坐标监听事件
        var pointX = n.clientX;
        var pointY = n.clientY;

        console.log(pointX,pointY)
        addX = delX = pointX
        addY = delY = pointY

        while ((addX%40)!=0 && (addX%40)!=0){
            addX = addX + 1
            delX = delX - 1
        }

        while ((addY%40)!=0 && (addY%40)!=0){
            addY = addY + 1
            delY = delY - 1
        }

        if((addX%40) ==0){
         cx = addX
        }else{
            cx=delX
        }

         if((addY%40) ==0){
         cy = addY
        }else{
             cy = delY
        }

        cxt.beginPath();
        cxt.arc(cx, cy, 20, 0, Math.PI * 2, true);
        cxt.closePath();
        cxt.fill();

    }

    //初始化websockt对象

    //紀錄最多显示5条
    function change_log() {
        len = chatlog_array.length;
        if (len > 5) {
            end_p = len
            start_p = end_p - 5
        } else {
            end_p = len
            start_p = 0
        }
        var ih = ''
        for (var j = start_p; j < end_p; j++) {
            ih = ih + '<li>' + chatlog_array[j] + '</li>'
            document.getElementById('chatlog').innerHTML = ih
        }
    }


    function sendmsg() {
        var inputmsg = document.getElementById("inputmsg").value;
        document.getElementById("inputmsg").value = " "
        ws.send(cuser + ':' + inputmsg)
    }

    function startWS() {
        //console.log('建立前街前:' + cuser)

        ws = new WebSocket(BASE.socket_url);
        ws.onopen = function (msg) {
            ws.send("connect");
            document.getElementById('ready').innerHTML = '准备'
        };
        ws.onmessage = function (msg) {
            var received_msg = strToJson(msg.data);
            //console.log('接收:' + msg.data)

            if (cuser == '0' && received_msg.code == 'connected') {
                cuser = received_msg.cuser
                //console.log('响应后:' + cuser)
            } else {
                if (received_msg.code == 'm' && cuser == '0') {
                    alert("房间已满");
                    exitroom()
                } else if (received_msg.code == 'chat') {
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'ready') {
                    if (received_msg.cuser == cuser) {
                        isReady = true
                        document.getElementById('ready').innerHTML = '取消'

                    }
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'notready') {
                    if (received_msg.cuser == cuser) {
                        isReady = false
                        document.getElementById('ready').innerHTML = '准备'

                    }
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'exit') {
                    isReady = false
                    document.getElementById('ready').innerHTML = '准备'
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'startgame') {
                    isGameing = true
                    document.getElementById('ready').innerHTML = '投降'
                    chatlog_array = received_msg.chatlog
                    change_log()
                }
            }
            chatlog_array = received_msg.chatlog
            change_log()
            ih = ''
            if (received_msg.a == 1) {
                ih = ih + '<img src="../static/ahead.jpg">'
            } else {
                ih = ih + '<img src="../static/agray.jpg">'
            }

            if (received_msg.b == 1) {
                ih = ih + '<img src="../static/bhead.jpg">'
            } else {
                ih = ih + '<img src="../static/bgray.jpg">'
            }

            document.getElementById('playerinfo').innerHTML = ih + '你是:玩家' + cuser

        };
        ws.onerror = function (error) {
            console.log('error :' + error.name + error.number);
        };

        ws.onclose = function () {
            // 关闭 websocket
            ws.send(cuser + "exit");
            cuser = ''
            ws.close();
        };
    }

    window.onbeforeunload = function () {
        ws.send(cuser + 'exit')
        cuser = '0'
        ws.close();
        //alert('退出房间')
    }

    function getReady() {
        if (isGameing == true) {
            //游戏进行中可以选择投降
        } else {
            if (isReady == false) {
                //准备
                ws.send(cuser + 'ready')
            } else {
                ws.send(cuser + 'notready')
            }
        }
    }

    function exitroom() {
        ws.send(cuser + 'exit')
        cuser = '0'
        ws.close();
        window.open('index.html')
    }

    //字符串转json
    function strToJson(str) {
        return JSON.parse(str);
    }

</script>
</body>
</html>