<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Relax-Online</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body onload="startWS()">
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left icon-left" onclick="closePageForm()"></a>
        <h1 class="title">001号房间</h1>
        <a class="icon icon-me pull-right icon-check " id="ready" onclick="getReady()"></a>
    </header>
    <div class="content">
        <div id="score">
            <!-- 隔开一定距离 -->
        </div>
        <div id="pan">
            <!-- 游戏区 -->
        </div>
        <div class="content-block">
            <!-- 聊天区 -->
            <div class="row" id="playerinfo">

            </div>
            <div class="row">
                <!-- 聊天纪录 -->
                <div class="list-block">
                    <ul id="chatlog">

                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- 消息放松 -->
                <div class="col-80"><input type="text" class="input-lg" id="inputmsg" placeholder="输入聊天内容"></div>
                <div class="col-30"><a class="button button-small button-fill button-success" onclick="sendmsg()">提交</a>
                </div>
            </div>
        </div>

    </div>


</div>
<script type='text/javascript' src='../static/js/config.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    var ws;
    var cuser = '0';
    var chatlog_array = new Array();
    var isReady = false;
    var isGameing = false;
    var turn = '0';
    var pan = [];
    var acount = 0;
    var bcount = 0;

    //初始化websockt对象

    //紀錄最多显示5条
    function change_log() {
        len = chatlog_array.length;
        if (len > 5) {
            end_p = len
            start_p = end_p - 5
        } else {
            end_p = len
            start_p = 0
        }
        var ih = ''
        for (var j = start_p; j < end_p; j++) {
            ih = ih + '<li>' + chatlog_array[j] + '</li>'
            document.getElementById('chatlog').innerHTML = ih
        }
    }
    
    //校验翻牌逻辑
    function check_click(data) {
        //传递点击位置
        if (turn==cuser){
            ws.send('check:'+cuser+':'+data.id)
        }
    }

    function build_pan() {
        pan_html = '<table><tr>'
        for (var px = 0; px < 64; px++) {
            cobj = '<td><img src="../static/majiang/bg.jpg" id="'+px+'"  onclick="check_click(this)"></td>'
            pan_html = pan_html + cobj
            if (px % 8 == 7) {
                if (px == 63) {
                    pan_html = pan_html + '</tr>'
                } else {
                    pan_html = pan_html + '</tr><tr>'
                }
            }
        }
        pan_html = pan_html + '</table>'
        document.getElementById('pan').innerHTML = pan_html
        document.getElementById('score').innerHTML = '轮到:玩家'+cuser+' //得分 玩家a:'+acount+' 玩家b:'+ bcount+' //'
    }

    function sendmsg() {
        var inputmsg = document.getElementById("inputmsg").value;
        document.getElementById("inputmsg").value = " "
        if (cuser == 'm' && inputmsg == 'mt') {
            ws.send('mt')
        } else {
            ws.send(cuser + ':' + inputmsg)
        }
    }

    function startWS() {
        //console.log('建立前街前:' + cuser)

        ws = new WebSocket(BASE.socket_url);
        ws.onopen = function (msg) {
            ws.send("connect");
            document.getElementById('ready').innerHTML = '准备'
        };
        ws.onmessage = function (msg) {
            var received_msg = strToJson(msg.data);
            //console.log('接收:' + msg.data)
            if (received_msg.code=='nomessage') {
                    console.log('do nothing')
                }else {
                 if (cuser == '0' && received_msg.code == 'connected') {
                cuser = received_msg.cuser
                //console.log('响应后:' + cuser)
            } else {
                if (received_msg.code == 'm' && cuser == '0') {
                    $.toast("房间已满，仅限观战");
                    cuser = received_msg.cuser
                    //exitroom()
                } else if (received_msg.code == 'chat') {
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'ready') {
                    if (received_msg.cuser == cuser) {
                        isReady = true
                        document.getElementById('ready').innerHTML = '取消'

                    }
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'notready') {
                    if (received_msg.cuser == cuser) {
                        isReady = false
                        document.getElementById('ready').innerHTML = '准备'

                    }
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'exit') {
                    isReady = false
                    document.getElementById('ready').innerHTML = '准备'
                    chatlog_array = received_msg.chatlog
                    change_log()
                } else if (received_msg.code == 'startgame') {
                    if (received_msg.turn==cuser){
                        $.toast("该你了");
                    }
                    isGameing = true
                    pan = received_msg.pan
                    turn = received_msg.turn
                    acount = received_msg.acount
                    bcount = received_msg.bcount
                    document.getElementById('ready').innerHTML = '投降'
                    chatlog_array = received_msg.chatlog
                    change_log()
                    build_pan()
                } else if (received_msg.code == 'allexit') {
                    ws.send(cuser+'exit')
                    ws.close()
                    closePageForm()
                }
                else if (received_msg.code == 'allexit') {
                    ws.send(cuser+'exit')
                    ws.close()
                    closePageForm()
                }
            }
            chatlog_array = received_msg.chatlog
            change_log()
            ih = ''
            if (received_msg.a == 1) {
                ih = ih + '<img src="../static/images/ahead.jpg">'
            } else {
                ih = ih + '<img src="../static/images/agray.jpg">'
            }

            if (received_msg.b == 1) {
                ih = ih + '<img src="../static/images/bhead.jpg">'
            } else {
                ih = ih + '<img src="../static/images/bgray.jpg">'
            }

            document.getElementById('playerinfo').innerHTML = ih + '你是:玩家' + cuser
            }



        };
        ws.onerror = function (error) {
            console.log('error :' + error.name + error.number);
        };

        ws.onclose = function () {
            // 关闭 websocket
            ws.send(cuser + "exit");
            cuser = ''
            ws.close();
        };
    }

    window.onbeforeunload = function () {
        ws.send(cuser + 'exit')
        cuser = '0'
        ws.close();
        //alert('退出房间')
    }

    function getReady() {
        if (isGameing == true) {
            //游戏进行中可以选择投降
        } else {
            if (isReady == false) {
                //准备
                ws.send(cuser + 'ready')
            } else {
                ws.send(cuser + 'notready')
            }
        }
    }

    function closePageForm() {
        window.opener = null;
        window.open('', '_self');
        window.close();
    }

    function exitroom() {
        ws.send(cuser + 'exit')
        cuser = '0'
        ws.close();
        window.open('index.html')
    }

    //字符串转json
    function strToJson(str) {
        return JSON.parse(str);
    }

</script>
</body>
</html>